body{
	margin: 0;
}

.viewport {
	align-items: flex-start;
}

.navbar{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #EEE;
	margin-bottom: 4px;
	background: white;
	width: 100%;
}
.navbar .nav-item{
    padding: 4px;
}
.navbar .nav-active{
    color: #3b76c0;
    border-bottom: 1px solid #3b76c0;
}
.item{
	width: 90%;
	margin: 10px auto;
	border: 1px solid black;
	height: 50px;
}
