body{
	margin: 0;
}

div[swipe-body]{
	overflow: hidden;
}

div[swipe-body]>div{
	display: flex;
	align-items: flex-start;
	width: 300%;
}

div[swipe-item]{
	flex: 1;
}

.item1{
	background: #3b76c0;
	height: 200px;
}
.item2{
	background: #58c03b;
	height: 300px;
}
.item3{
	background: #c03b25;
	height: 500px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #EEE;
    margin-bottom: 4px;
}
.navbar .nav-item{
    padding: 4px;
}
.navbar .nav-active{
    color: #3b76c0;
    border-bottom: 1px solid #3b76c0;
}
.item{
	width: 90%;
	margin: 10px auto;
	border: 1px solid black;
	height: 50px;
}
